<!-- 组合小车底盘与摄像头 -->
<!-- 使用gazebo官方diff drive -->
<robot name="diffbot_move_sim" xmlns:xacro="http://wiki.ros.org/xacro">
    <xacro:include filename="$(find mybot_description)/diffbot_description/urdf/diffbot.urdf.xacro" />

    <xacro:include filename="$(find mybot_description)/diffbot_description/urdf/plugin/gazebo_diff_drive.urdf.xacro" />

</robot>
