<launch>

  <!-- launch gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch" />

  <!--load sim robot and controller -->
  <include file= "$(find mybot_launch)/launch/diffbot_launch/diffbot_sim_driver.launch.xml"/>

  <!--  spawn robot -->
  <node pkg="gazebo_ros" type="spawn_model" name="model" args="-urdf -model diffbot -param robot_description"  />
    
</launch>