<launch>

  <arg name="robot_name" default="diffbot"/>
  <!-- Load diffbot model -->
  <param name="robot_description"
         command="$(find xacro)/xacro $(find mybot_description)/diffbot_description/urdf/diffbot.urdf.xacro" />

  <!-- 关节以及机器人状态发布节点 -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- Load controller config -->
  <rosparam command="load" file="$(find mybot_launch)/config/diffbot/diffbot_controllers.yaml" />
  <!-- Load controller config -->
  <rosparam command="load" file="$(find mybot_launch)/config/diffbot/diffbot_hw.yaml" />
  
    <!-- Spawn controller -->
  <node name="controller_spawner"
            pkg="controller_manager" type="spawner" output="screen"
            args="diffbot_controller" />


  <!-- Start diffbot -->
  <node name="diffbot" pkg="mybot_hw" type="diffbot_hw_real_node" output="screen">
    <remap to="cmd_vel" from="diffbot_controller/cmd_vel" />
    <remap to="odom" from="diffbot_controller/odom" />
  </node>

</launch>
