<robot name="my_sensors" xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:property name="M_PI" value="3.1415926535897931" />
  <!-- 雷达 -->
    <gazebo reference="laser_link">
        <sensor type="gpu_ray" name="VLP16">
          <pose>0 0 0 0 0 0</pose>
          <visualize>true</visualize>
          <update_rate>10</update_rate>
          <ray>
            <scan>
              <horizontal>
                <samples>360</samples>
                <resolution>1</resolution>
                <min_angle>-${M_PI/2}</min_angle>
                <max_angle>${M_PI/2}</max_angle>
              </horizontal>
              <vertical>
                <samples>30</samples>
                <resolution>1</resolution>
                <min_angle>-${15.0*M_PI/180.0}</min_angle>
                <max_angle> ${15.0*M_PI/180.0}</max_angle>
              </vertical>
            </scan>
            <range>
              <min>0.05</min>
              <max>30</max>
              <resolution>0.001</resolution>
            </range>
            <noise>
              <type>gaussian</type>
              <mean>0.0</mean>
              <stddev>0.0</stddev>
            </noise>
          </ray>
          <plugin name="gazebo_ros_laser_controller" filename="libgazebo_ros_velodyne_gpu_laser.so">
            <ros>
              <remapping>/scan</remapping>
            </ros>
            <frame_name>laser_link</frame_name>
            <organize_cloud>false</organize_cloud>
            <min_range>0.05</min_range>
            <max_range>30</max_range>
            <gaussian_noise>0.0</gaussian_noise>
          </plugin>
        </sensor>
   </gazebo>
</robot>
