<robot name="gazebo_ros_control" xmlns:xacro="http://wiki.ros.org/xacro">
	<!-- ros_control plugin -->
	<gazebo>
		<plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
			<legacyModeNS>true</legacyModeNS>
			<robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
			<robotNamespace>mecanum</robotNamespace>
		</plugin>
	</gazebo>
</robot>
